<!-- temp to push -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>soap edit</title>

    <link rel="stylesheet" href="/css/app.css">

  </head>
  <body>

    <div class="soap-container">

        <div class="nav">
          <h2>nav</h2>
        </div>

        <div class="header">
          <h2>Edit <%=soap.name%></h2>
        </div>

        <div class="side-bar">
          <img src = <%=soap.image + ".jpg"%> alt="Soap Image" width="100%" height="100%">
        </div>

        <form action="/soap/<%=soap.id%>?_method=PUT" class="form" method="POST">

              <div class="soap-ingredients">
                  <h3> Ingredients </h3>

                  Soap Name: <input type="text"   name="name"   value="<%=soap.name%>" <br>
                  Soap Image: <input type="text"   name="image"   value="<%=soap.image%>" <br>

                  <%if (soap.ingredients.amount1 > 0) { %>
                    <input type="text"   name="ingredient1"   value="<%=soap.ingredients.ingredient1%>" <br>
                    <input type="number" name="amount1"       value="<%=soap.ingredients.amount1%>" <br>
                  <%}%>

                  <%if (soap.ingredients.amount2 > 0) { %>
                    <input type="text"   name="ingredient2"   value="<%=soap.ingredients.ingredient2%>" <br>
                    <input type="number" name="amount2"       value="<%=soap.ingredients.amount2%>" <br>
                  <%}%>

                  <%if (soap.ingredients.amount3 > 0) { %>
                    <input type="text"   name="ingredient3"   value="<%=soap.ingredients.ingredient3%>"<br>
                    <input type="number" name="amount3"       value="<%=soap.ingredients.amount3%>"<br>
                  <%}%>

                  <%if (soap.ingredients.amount4 > 0) { %>
                    <input type="text"   name="ingredient4"   value="<%=soap.ingredients.ingredient4%>"<br>
                    <input type="number" name="amount4"       value="<%=soap.ingredients.amount4%>"<br>
                  <%}%>

                  <%if (soap.ingredients.amount5 > 0) { %>
                    <input type="text"   name="ingredient5"   value="<%=soap.ingredients.ingredient5%>"<br>
                    <input type="number" name="amount5"       value="<%=soap.ingredients.amount5%>"<br>
                  <%}%>

                  <%if (soap.ingredients.amount6 > 0) { %>
                    <input type="text"   name="ingredient6"   value="<%=soap.ingredients.ingredient6%>"<br>
                    <input type="number" name="amount6"       value="<%=soap.ingredients.amount6%>"<br>
                  <%}%>

                  <%if (soap.ingredients.amount7 > 0) { %>
                    <input type="text"   name="ingredient7"   value="<%=soap.ingredients.ingredient7%>"<br>
                    <input type="number" name="amount7"       value="<%=soap.ingredients.amount7%>"<br>
                  <%}%>

                  <%if (soap.ingredients.amount8 > 0) { %>
                    <input type="text"   name="ingredient8"   value="<%=soap.ingredients.ingredient8%>"<br>
                    <input type="number" name="amount8"       value="<%=soap.ingredients.amount8%>"<br>
                  <%}%>
              </div>

              <div class="soap-cost">
                    <h3>Purchase Information</h3>
                    Cost per Bar:   <input type="number" name="costPerBar"     value="<%=soap.costPerBar%>" /><br>
                    Cost per Pound: <input type="number" name="costPerPound" value="<%=soap.costPerPound%>" /><br>
                    Cost per Bar to Giftwrap: <input type="number" name="addCostToGiftWrapPerBar" value="<%=soap.addCostToGiftWrapPerBar%>" /><br>
                    Bars Available for Purchase: <input type="number" name="totalBarsAvail" value="<%=soap.totalBarsAvail%>" /><br>

                    <h3>Additional Information</h3>
                    % Super Fat: <input type="number" name="percentSuperFat" value="<%=soap.percentSuperFat%>"/><br>
                    Exfoliating? <input type="text" name="exfoliating" value="<%=soap.exfoliating%>"/><br>
                    Notes: <input type="text" name="notes" value="<%=soap.notes%>"/><br>
              </div>

            <div class="soap-lye-weight">
                    <h3> Lye Calculation </h3>
                    % Minimum Water Needed: <input type="number" name="minimumWaterNeeded" value="<%=soap.lyeCalculation.minimumWaterNeeded%>" /><br>
                    % Sodium Hyroxide: <input type="number" name="sodiumHydroxide" value="<%=soap.lyeCalculation.sodiumHydroxide%>" /><br>

                    <h3> Weights </h3>
                    Total Oils Weight: <input type="number" name="totalOilsWeight" value="<%=soap.totalOilsWeight%>" /><br>
                    Total Recipe Weight: <input type="number" name="totalRecipeWeight" value="<%=soap.totalRecipeWeight%>" /><br>

            </div>

            <input type="submit" value="SUBMIT CHANGES"/><br>

          </form>

    </div>

    <div class="footer">
      <a href="/soap">Back to Soap Index</a>
    </div>

    </div>
  </body>
</html>
